[Unit]
Description=Copy changed LaTeX snippets to Obsidian vault

[Service]
Type=oneshot
ExecStart=/usr/bin/cp %h/Documents/Programming/latex-snippets/latex-suite-snippets.js %h/Documents/Programming/latex-snippets/latex-suite-variables.js %h/Documents/Polybox/Obsidian/
